.container_my {font-size:130%;
color:black;
margin:50px
}
.title {background: white;}


.form {
margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10%;
}


.mess {
    position:relative;
    width: 40vw;
    left:55vw;
    height:69vh;
    overflow-y: auto;
    margin:0;
}
.mess-admin {
    position:relative;
    width: 40vw;
    left:5vw;
    height:53vh;
    overflow-y: auto;
    margin:0;
}

.form2 {
    position:absolute;
    width:98vw;
    top:87vh;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    padding-down:0;
}
.submit_btn {display:inline-block; margin:10px;}


.form-control {
max-width:80vw;
}


.container {
    max-width:100%;
    width:100%;
}


#row {
    display: right;
    margin-left: 45px;}


h2 {
    margin-left: 45px;
    margin-bottom: 100px;
 }


.message-other {
    width:20vw;
}


.my-message {
    position:relative;
    left:10vw;
    width:20vw;
}

.my_img {
    width: 25vw;

}


#alert {
    width: 30%;
    margin:10px;
    margin-top:10%;
    font-size: 150%;
 }


#login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}


.names {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 427px;
    margin-top: 20px;
}


.edit {
    background: #007fff;
    border-radius: 5px;
    color:white;
    text-decoration:none;
    margin:10px;
}


.pers {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
}

.form-container {
display:flex;
justify-content:center;}
.icon_container {
position:relative;
left:5vw;
font-size: 2vw;
}

.scale {
width: 25vw;max-width:25vw;
    transition: 1s; /* Время эффекта */
   }


.block_img {
    width: 25vw;
    max-width:25vw;
}
.scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }


.scale_r {
    transition: 1s; /* Время эффекта */
   }
   .scale_r:hover {
    transform: scale(1.5); /* Увеличиваем масштаб */
   }

.zak {
    background: #2b6cb0;
    border-radius: 5px;
    color:white;
    text-decoration: none;
    margin:auto;
    position:relative;
    text-align:center;
    margin:10px;
    width:15vw;
    text-align:center;
}


.logo {
    position: relative;
    top:3vh;
    margin:2vh;
    text-align:center;
}


.prise {
    margin:14px;
}


.name-product {font-weight:bold;}
.close-btn {position:absolute;text-decoration: none;}
.zatemnenie {
        background: black;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }


.dop-black {
    background: black;
    height:100vh;
}
.okno {
    text-align: center;
        padding: 15px;
        border-radius: 10px;
        color: #0000cc;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: black;
        width: 60vw;
      }
.login-h1 {
position:relative;
    top:3vh;
    width: 50vw;
    left:40vw;
}


.login-form {

    margin:auto;
    position:relative;
    top:5vh;
    width:70vw;
}


.win {
    width: 60vw;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content:center;
}


.button {
position: relative;
      top: 50vh;
      padding: 10px;
      max-height: 60px;
      height: 10vh;
      margin: 10px;
      color: white;
      text-decoration: none;
      font-size:50pt;
}

.close {
      display: flex;
        text-align:right;
        width: 5vw;
        position: relative;
        color: #0000cc;
        padding: 12px;
        margin: 10px;
        text-decoration: none;
        background: black;
        font-size: 20pt;
        cursor:pointer;
        left: 90vw;
}



.close:hover {
    background: none;
}
      /* Кнопка выпадающего списка */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
background-color: #3e8e41;
}


.container-product {
    display: flex;
	align-items: center;
    justify-content: center;
     font-size: 20pt;
    }


.about-product {
    position:fixed;
    display:inline-block;
    width:30vw;
    height: 50vh;
    text-align:start;
    border: solid 1px black;
    top:20vh;
    }


.product-img {
    display:inline-block;
    width:30vw;
    margin:3vw
    }
.time-mess {font-size:6pt;float:left;}

.car-img {
width:60vw;
}
.pack {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:80vw;
    margin-top: 10vh;
}
.date {
    margin-left:auto;
    margin-right:auto;
    color:gray;
    display:flex;
    justify-content:center;
    }
.car-ogr {
    margin-right:10vw;
    margin-left:10vw;
    height:100vh;
    }
.info-btn {border:0;background:none;}
@media (pointer:none), (pointer:coarse) {
    .car-ogr{width:40vw;}
    .carousel {
        width:40vw;
    }
    .my_img {
        width:40vw;
    }
    .login-p {
        font-size:20pt;
    }
}


@media screen and (width > 981px) {
    .car-ogr {
        width:25vw;
        position:relative;
        top:10vh;
        }


}
@media screen and (width < 981px) {
.time-mess {font-size:12pt;}
    .button {font-size:40pt;}
    .car-ogr {
        width:40vw;
       height:40vh;
        }
    .mess {width:90vw;left:5vw;}
    .car-img {
        max-width:90vw;
        width:85vw;
        position: relative;
        top:20vh;


        }

    .scale {
        max-width:70vw;
        width: 70vw;
        margin:5vw;
        }

    .my-message {
    font-size: 20pt;
        width:60vw;

        }


    .message-other {
    font-size: 20pt;
        width:60vw;
        }
     .mess-admin {
     position:relative;
        left:10vw;
        width:90vw;
     }
    .block_img {width: 70vw;max-width:70vw;}


    .icon_container {
        font-size: 5vw;
        margin: 5vw;
    }


    .h_ic {
        font-size: 5vw;
    }
}



