{% extends "base.html" %}
{% block content %}
<h1>Загрузим файл</h1>
<form method="post" enctype="multipart/form-data" class="form" id="login_form" style="margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
  border-radius: 5px;
    padding: 10px;
    margin-top: 10%">
    <label>выберете количество фото</label>
    <a class="btn btn-secondary" href="/api/add_got_icon/{{i + 1 }}">+</a> {{i}} <a class="btn btn-secondary" href="/api/add_got_icon/{{i - 1 }}">-</a>
    {% for _ in range(i) %}
    <div class="form-group">
        <label for="photo">Выберите файл</label>
        <input type="file" class="form-control-file" id="photo" name="file{{_}}">
    </div>
    {% endfor %}
    <div class="form-group">
        <label for="about">Введите описание</label>
        <textarea class="form-control" id="about" rows="3" name="about"></textarea>
        <label>Введите название</label>
        <textarea class="form-control" id="name" rows="1" name="name"></textarea>
        <label>Введите цену</label>
        <textarea class="form-control" id="prise" rows="1" name="prise"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}