{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
        <form method="post" style="font-size:170%;" class="form">
    <div class="form-group">
        <label for="about">Сообщение</label>
        <textarea class="form-control" id="about" rows="3" name="about"></textarea>

    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
        {% else %}
        <p>
            Эта страница доступна только авторизированным пользователям
        </p>
        {% endif %}

{% endblock %}