{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<script>function showDiv(Div) {
    var x = document.getElementById(Div);
    var y = document.getElementById("mess");
    if(x.style.display=="none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
        y.style.height = "80vh"

    }
}
</script>

<div id="welcomeDiv" style="display:block;" class="answer_list">
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
             class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
             aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
            Если вам долго не отвечают, обновите страницу
        </div>
        <input type="button" class="btn-close btn-close-black" name="answer" value="" onclick="showDiv('welcomeDiv')"/>
        <style>
      input[type="file"]{
        display: none;
      }

      .file-label{
        cursor:pointer;
      }

        </style>
    </div>
</div>
{% set date = [] %}
<div class="mess" id="mess">
    {%for mess in message %}
    {% if (current_user.email == mess.email_sender and email_recipient == mess.email_recipient) or current_user.email ==
    mess.email_recipient and email_recipient == mess.email_sender%}
    {% if date == [] or (date != [] and mess.get_date() != date[-1]) %}
    {% if date.append(mess.get_date()) %}{% endif %}
    <p class="date">{{ date[-1] }}</p>
    {% endif %}
    {% if current_user.email == mess.email_sender%}
    <div class="alert alert-success my-message" role="alert">
        <p>
            {{mess.message}}
        </p>
        <p class="time-mess">{{mess.get_time()}} {% if mess.read %}
            <button type="button" class="info-btn " data-bs-toggle="tooltip" data-bs-placement="top" title="прочитано">
                ✓✓
            </button>
            {% else %}
            <button type="button" class="info-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="доставлено">
                ✓
            </button>
            {% endif %}
        </p>
    </div>
    {% else %}
    <div class="alert alert-info message-other" role="alert">
        <p>
            {{mess.message}}
        </p>
        <p class="time-mess">{{mess.get_time()}}</p>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

<form method="post" style="font-size:170%;" class="form2">
    <div class="form-container">
        <textarea class="form-control" id="about" rows="1" name="about"></textarea>
        <button type="submit" class="btn btn-primary submit_btn">
            <svg width="30px" height="29px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 466.897 466.897" style="enable-background:new 0 0 466.897 466.897;" xml:space="preserve"><g><g><polygon style="fill:#010002;" points="374.105,73.807 203.974,318.03 203.974,432.042 259.801,358.275 410.505,466.897 441.012,0 25.885,189.672 143.823,274.681 "/></g></g></svg>
        </button>
        <div style="margin:0px;">
            <label class="file-label" for="inputTag">
                <svg width="30px" height="30px" id="object" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <g id="_16" data-name="16">
                        <path d="m144.407 507.882a116.583 116.583 0 0 1 -82.436-199.018l205.329-205.329a83.054 83.054 0 0 1 117.457 117.457l-181.621 181.622a16 16 0 0 1 -22.628-22.627l181.622-181.623a51.054 51.054 0 1 0 -72.2-72.2l-205.33 205.328a84.581 84.581 0 1 0 119.615 119.616l213.367-213.366a118.109 118.109 0 1 0 -167.032-167.03l-189.658 189.658a16 16 0 0 1 -22.627-22.627l189.658-189.659c58.528-58.527 153.76-58.526 212.285 0a150.109 150.109 0 0 1 0 212.286l-213.366 213.365a115.815 115.815 0 0 1 -82.435 34.147z"/>
                    </g>
                </svg>
                <input id="inputTag" type="file"/>

                <span id="imageName"></span>
            </label>
        </div>

        <script>
        let input = document.getElementById("inputTag");
        let imageName = document.getElementById("imageName")
        input.addEventListener("change", ()=>{
            let inputImage = document.querySelector("input[type=file]").files[0];

            imageName.innerText = inputImage.name;
        })

        </script>
    </div>
</form>
{% else %}
<div style="display:block;" class="answer_list">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
             class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
             aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>

            Эта страница доступна только авторизированным пользователям
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });

</script>