{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated and current_user.admin%}
<a href="api/add_work" class="btn btn-secondary">Добавить икону</a>
{% endif %}
<div class="icon_container" style="margin-right: 5vw;">
    <h2 class="h_ic">Мои работы</h2>
    {% for item in icons %}
    {% for row in item %}
    <figure style="display:inline-block;margin:2vw;" class="block_img">
        <figcaption>{{row["title"]}}</figcaption>
        <a href="/carousel/{{row['file']}}">
            <img class="scale" src="static/img/{{row['file']}}.jpg">
            <!--            <figcaption class="zak" href="/zak_got">заказать</figcaption>-->
        </a>
    </figure>
    {% endfor %}
    {% endfor %}

</div>
{% endblock %}