{% extends "base.html" %}

{% block content %}
<img src="https://sun9-13.userapi.com/impf/c626425/v626425299/13c2f/PgPk-gDOCU8.jpg?size=607x1080&quality=96&sign=cb0f9239f20b48aec4943d82b44a14e0&type=album"
 id="my_img">
<div  id="alert" role="alert">
    Изготавливаю иконы ручного письма по древним технологиям (темперная
    живопись натуральными минеральными пигментами на основе яичной эмульсии) с золочением сусальным золотом 960-й пробы.
    Золочение производится на полимент. Пишу иконы и занимаюсь реставрацией с 2012 года. Закончила иконописную школу
    имени Преподобного Алипия Печерского в г. Дубна Московской области.
</div>


{% endblock %}