{% extends "base.html" %}

{% block content %}


<div class="logo"><h3>Иконописная мастерская Екатерины Минеевой</h3></div>
<div style="display: flex;
	align-items: center;
    justify-content: center; ">
    <div class="car-ogr">
        <div id="carouselExampleControls" class="carousel slide"
             data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/img/my_img.jpg"
                         class="my_img" id="" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/icon2.jpg" class="my_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/icon28.car.jpg" class="my_img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <div id="alert" role="alert">
        Изготавливаю иконы ручного письма по древним технологиям (темперная
        живопись натуральными минеральными пигментами на основе яичной эмульсии) с золочением сусальным золотом 960-й
        пробы.
        Золочение производится на полимент. Пишу иконы и занимаюсь реставрацией с 2012 года. Закончила иконописную школу
        имени Преподобного Алипия Печерского в г. Дубна Московской области.
    </div>
</div>
<div class="alert alert-secondary pack" role="alert">

    <h1>Бережная доставка и упаковка</h1>
    Мы работаем с иконами много лет — ничего не повредится. За время работы мастерской с 2012 года было написано много
    икон и отправлено в разные регионы России.
</div>
<div class="alert alert-secondary pack" role="alert">
    <h1>Стоимость и сроки</h1>
    Стоимость, сроки написания и образец согласуется всегда индивидуально в зависимости от размера, сложности образа и
    количества позолоты.
</div>
<nav class="navbar navbar-dark bg-dark">
    <p>
  <h2 class="navbar-brand">Наш адрес:</h2>
    <p class="navbar-brand">Россия, Московская область, город Дубна.</p>
    </p></p>
</nav>

{% endblock %}
