{% extends "base.html" %}
{% block content %}


<div >
    <h2>Мои работы</h2>
    {% if current_user.is_authenticated and current_user.admin%}
    <a href="api/add_restv" class="btn btn-secondary">Добавить икону</a>
    {% endif %}
    {% for item in restv %}
    <div  class="col-md6 border rounded" style="display: flex;
	align-items: center;
    justify-content: center; font-size: 20pt;">
    <figure>
        <figcaption>было</figcaption>
        <img src="static/img/{{ item['file_become'] }}" style="width:40vw; margin:20px;" class="scale_r">
        </figure>
    <figure>
        <figcaption>стало</figcaption>
        <img src="static/img/{{ item['file_was'] }}" style="width:40vw; margin:20px;" class="scale_r">
    </figure>
    </div>

{% endfor %}
</div>
{% endblock %}