{% extends "base.html" %}
{% block content %}


<div >
    <h2>Мои работы</h2>
    <div  class="col-md6 border rounded" style="display: flex;
	align-items: center;
    justify-content: center; ">
    <figure>
        <figcaption>было</figcaption>
        <img src="static/img/restv1.2.jpg" style="width:200px; margin:20px;">
        </figure>

    <figure>
        <figcaption>стало</figcaption>
        <img src="static/img/restv1.1.jpg" style="width:200px; margin:20px;">
    </figure>
    </div>
    <br>
    <div  class="col-md6 border rounded" style="display: flex;
	align-items: center;
    justify-content: center; ">
    <figure>
        <figcaption>было</figcaption>
        <img src="static/img/restv2.2.jpg" style="width:200px; margin:20px;">
        </figure>

    <figure>
        <figcaption>стало</figcaption>
        <img src="static/img/restv2.1.jpg" style="width:200px; margin:20px;">
    </figure>
    </div>
    <div  class="col-md6 border rounded" style="display: flex;
	align-items: center;
    justify-content: center; ">
    <figure>
        <figcaption>было</figcaption>
        <img src="static/img/restv3.2.jpg" style="width:200px; margin:20px;">
        </figure>

    <figure>
        <figcaption>стало</figcaption>
        <img src="static/img/restv3.1.jpg" style="width:200px; margin:20px;">
    </figure>
    </div>

<!--    <div class="col-md6 border rounded" style="vertical-align: top;border: 0.05em">-->
<!--        <a style="vertical-align: top;z-index: 100;position: absolute; font-weight: 700;">-->
<!--            было-->
<!--        </a>-->
<!--        <img src="static/img/restv2.2.jpg" style="width:200px; margin:20px;">-->
<!--        <a style="vertical-align: top;z-index: 100;position: absolute;">-->
<!--            стало-->
<!--        </a>-->
<!--        <img src="static/img/restv2.1.jpg" style="width:200px; margin:20px;">-->

<!--    </div>-->
<!--    <div class="col-md6 border rounded" style="vertical-align: top;border: 0.05em">-->
<!--        <a style="vertical-align: top;z-index: 100;position: absolute;font-weight: 700;">-->
<!--            было-->
<!--        </a>-->
<!--        <img src="static/img/restv3.2.jpg" style="width:200px; margin:20px;">-->
<!--        <a style="vertical-align: top;z-index: 100;position: absolute;font-weight: 700;">-->
<!--            стало-->
<!--        </a>-->
<!--        <img src="static/img/restv3.1.jpg" style="width:200px; margin:20px;">-->
<!--    </div>-->
{% endblock %}